/* styles.css */
body {
    font-family: Arial, sans-serif;
    color: #333;
    margin: 0;
    padding: 0;
}

header, nav, main, footer {
    padding: 10px;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-around;
}

nav ul li {
    display: inline;
}

nav ul li a {
    text-decoration: none;
    color: #333;
}

main {
    display: grid;
    grid-template-columns: 1fr 200px; /* Mengatur lebar aside */
    grid-gap: 20px;
}

footer {
    background-color: #f2f2f2;
    text-align: center;
}

/* Gaya untuk aside */
aside {
    background-color: #f9f9f9;
    padding: 10px;
}

